body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  margin: 0 32px;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-space-between {
  justify-content: space-between;
}

.shadow-box {
  box-shadow: 0px 1px 10px rgb(0 0 0 / 11%);
  padding: 10px;
  border-radius: 12px;
}

.col-12 {
  flex : 0 0 100%;
  max-width: 100%;
}

.col-4 {
  flex : 0 0 33.3%;
  max-width: 33.3%;
}

.col-7 {
  flex : 0 0 58.33%;
  max-width: 58.33%;
}

.col-3 {
  flex : 0 0 25%;
  max-width: 25%;
}

.col-5 {
  flex : 0 0 41.6%;
  max-width: 41.6%;
}

.col-6 {
  flex : 0 0 50%;
  max-width: 50%;
}

.col-10 {
  flex : 0 0 83.33%;
  max-width: 83.33%;
}

.col-9 {
  flex : 0 0 75%;
  max-width: 75%;
}
